.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 85%;
}

.mat-table {
  overflow: auto;
  max-height: 550px;
}

.widthSmall {
  flex: 0 0 75px;
}

.customWidthClass {
  flex: 1 0 150px;
}